/* Custom style for README Markdown code/pre sections */
body {
    zoom: 2;
}

pre {
  line-height: 1.0;
  background-color: #ebefea;
  color: black;
}

pre code {
    font-size: 100%;
    background-color: #0000;
    margin: 0;
    white-space: break-spaces;
    border-radius: 6px;
}

code {
    font-size: 120%;
    background-color: #ebefea;
    margin: 0;
    white-space: break-spaces;
    border-radius: 6px;
}

p {
    font-family: DejaVu Sans;
    font-size: 80%;
}

h1 {
    font-family: DejaVu Sans;
}

h2 {
    font-family: DejaVu Sans;
}

ul {
    font-family: DejaVu Sans;
    font-size: 80%;
}
