/* Custom style for README Markdown code/pre sections */

.markdown-body pre {
  line-height: 1.0;
  background-color: aliceblue;
  color: black;
}

code {
    font-size: 120%;
    background-color: aliceblue;
    margin: 0;
    white-space: break-spaces;
    border-radius: 6px;
}

p {
    font-family: DejaVu Sans;
}

h1 {
    font-family: DejaVu Sans;
}

h2 {
    font-family: DejaVu Sans;
}

ul {
    font-family: DejaVu Sans;
}
